header.page-header
  .container
    .page-header__top
      .page-header__descr
        h1 Microsoft Developer Tour
        h2 Технологическая экспедиция
      .page-header__action
        nav.page-header__nav
          ul.page-header__nav-list
            li.page-header__nav-item
              a(href="/") Об экспедиции 
            li.page-header__nav-item
              a(href="/") Новости
        .social
          a.social__link.social__link--fb(href="/") Facebook
          a.social__link.social__link--tw(href="/") Twitter
          a.social__link.social__link--vk(href="/") Vontakte